@font-face {
  font-family: 'WINMenu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/WINMenu.woff') format('woff');
}
@font-face {
  font-family: 'WINDialog';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/WINDialog.woff') format('woff');
}

@font-face {
  font-family: 'PragmataFlash12';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PragmataFlash12.woff') format('woff');
}

@font-face {
  font-family: 'micross';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/micross.woff') format('woff');
}